adf_universal_orchestrator_framework/pipeline/01-Stage.json
{
	"name": "01-Stage",
	"properties": {
		"description": "Stage pipeline used to bootstrap the orchestration framework in perform the first level ForEach calls in sequence for the metadata stages.",
		"activities": [
			{
				"name": "Get Stages",
				"description": "Returns a distinct list of execution stages within the framework metadata.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set Execution Id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[metadata].[GetStages]",
						"storedProcedureParameters": {
							"ExecutionId": {
								"type": "Guid",
								"value": {
									"value": "@variables('ExecutionId')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GetSetMetadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute Stages",
				"description": "Top level ForEach to sequentially call all processing stages within the framework metadata. Items for iteration passed from the Get Stages lookup activity.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Stages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Stages').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Stage Executor",
							"description": "Call to the framework pipelines for a given execution stage.",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Log Stage Preparing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "02-Pipelines",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"StageId": {
										"value": "@item().StageId",
										"type": "Expression"
									},
									"ExecutionId": {
										"value": "@variables('ExecutionId')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Log Stage Preparing",
							"description": "Update the current execution table flagging all pipelines within the stage as preparing.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Check and Update Blockers",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[metadata].[SetLogStagePreparing]",
								"storedProcedureParameters": {
									"ExecutionId": {
										"value": {
											"value": "@variables('ExecutionId')",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"StageId": {
										"value": {
											"value": "@item().StageId",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SupportDatabase2",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Check and Update Blockers",
							"description": "Used to double check and stop the next execution stage if failures and blockers have be incurred. This also depends on the failure handling property value which defines the stored procedure behaviour.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[metadata].[CheckForBlockedPipelines]",
								"storedProcedureParameters": {
									"ExecutionId": {
										"value": {
											"value": "@variables('ExecutionId')",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"StageId": {
										"value": {
											"value": "@item().StageId",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SupportDatabase",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Execution Wrapper",
				"description": "Wrapper to reset and restart processing or create a completely new execution instance of the framework metadata.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Clean Up Previous Run",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[metadata].[ExecutionWrapper]",
						"storedProcedureParameters": {
							"CallingOrchestratorName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"BatchName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.BatchName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GetSetMetadata",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Check Outcome and Update Logs",
				"description": "After a successful execution run the current execution metadata is moved to the long term logging table by this stored procedure call. Otherwise an error will be raised.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Stages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[metadata].[UpdateExecutionLog]",
					"storedProcedureParameters": {
						"PerformErrorCheck": {
							"value": {
								"value": "@bool(1)",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"ExecutionId": {
							"value": {
								"value": "@variables('ExecutionId')",
								"type": "Expression"
							},
							"type": "Guid"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SupportDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Check Previous Execution",
				"description": "Query the current execution table for worker pipelines that require a clean up(InProgress, Queued) from the previous execution run.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Is Stage Already Running",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[metadata].[CheckPreviousExeuction]",
						"storedProcedureParameters": {
							"BatchName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.BatchName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GetSetMetadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Clean Up Previous Run",
				"description": "Handle Worker pipelines that are reported as Running when the stage pipeline is called again. Get what the actual status of those pipelines is.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Check Previous Execution",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Check Metadata Integrity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Check Previous Execution').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "Log Pipeline Checking",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[metadata].[SetLogPipelineChecking]",
								"storedProcedureParameters": {
									"ExecutionId": {
										"value": {
											"value": "@item().LocalExecutionId",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"PipelineId": {
										"value": {
											"value": "@item().PipelineId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"StageId": {
										"value": {
											"value": "@item().StageId",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SupportDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Set Pipeline Status",
							"description": "Update the metadata depending on the actual pipeline outcome. Using the status as the case.",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "Get Pipeline Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@activity('Get Pipeline Status').output.status",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Failed",
										"activities": [
											{
												"name": "Pipeline Status Failed",
												"description": "Updates the current execution table with a pipeline status of failed if the function outcome is failed. Also blocks pipelines in the downstream execution stage.",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[metadata].[SetLogPipelineFailed]",
													"storedProcedureParameters": {
														"ExecutionId": {
															"value": {
																"value": "@item().LocalExecutionId",
																"type": "Expression"
															},
															"type": "Guid"
														},
														"PipelineId": {
															"value": {
																"value": "@item().PipelineId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"RunId": {
															"value": null,
															"type": "Guid"
														},
														"StageId": {
															"value": {
																"value": "@item().StageId",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "SupportDatabase",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "Succeeded",
										"activities": [
											{
												"name": "Pipeline Status Succeeded",
												"description": "Updates the current execution table with a pipeline status of success if the function outcome is succeeded.",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[metadata].[SetLogPipelineSuccess]",
													"storedProcedureParameters": {
														"ExecutionId": {
															"value": {
																"value": "@item().LocalExecutionId",
																"type": "Expression"
															},
															"type": "Guid"
														},
														"PipelineId": {
															"value": {
																"value": "@item().PipelineId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"StageId": {
															"value": {
																"value": "@item().StageId",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "SupportDatabase",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "Queued",
										"activities": [
											{
												"name": "Pipeline Status Queued - Running",
												"description": "Updates the current execution table with a pipeline status of running if the function outcome is queued.",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[metadata].[SetLogPipelineRunning]",
													"storedProcedureParameters": {
														"ExecutionId": {
															"value": {
																"value": "@item().LocalExecutionId",
																"type": "Expression"
															},
															"type": "Guid"
														},
														"PipelineId": {
															"value": {
																"value": "@item().PipelineId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"StageId": {
															"value": {
																"value": "@item().StageId",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "SupportDatabase",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "InProgress",
										"activities": [
											{
												"name": "Pipeline Status InProgress - Running",
												"description": "Updates the current execution table with a pipeline status of running if the function outcome is in progress.",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[metadata].[SetLogPipelineRunning]",
													"storedProcedureParameters": {
														"ExecutionId": {
															"value": {
																"value": "@item().LocalExecutionId",
																"type": "Expression"
															},
															"type": "Guid"
														},
														"PipelineId": {
															"value": {
																"value": "@item().PipelineId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"StageId": {
															"value": {
																"value": "@item().StageId",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "SupportDatabase",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "Cancelled",
										"activities": [
											{
												"name": "Pipeline Status Cancelled",
												"description": "Updates the current execution table with a pipeline status of cancelled if the function outcome is cancelled.",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "0.00:10:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[metadata].[SetLogPipelineCancelled]",
													"storedProcedureParameters": {
														"ExecutionId": {
															"value": {
																"value": "@item().LocalExecutionId",
																"type": "Expression"
															},
															"type": "Guid"
														},
														"PipelineId": {
															"value": {
																"value": "@item().PipelineId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"StageId": {
															"value": {
																"value": "@item().StageId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"CleanUpRun": {
															"value": {
																"value": "@bool(1)",
																"type": "Expression"
															},
															"type": "Boolean"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "SupportDatabase",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Pipeline Status Unknown",
										"description": "Updates the current execution table with a pipeline status of unknown if the function returns an unexpected outcome.",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "0.00:10:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[metadata].[SetLogPipelineUnknown]",
											"storedProcedureParameters": {
												"ExecutionId": {
													"value": {
														"value": "@item().LocalExecutionId",
														"type": "Expression"
													},
													"type": "Guid"
												},
												"PipelineId": {
													"value": {
														"value": "@item().PipelineId",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"StageId": {
													"value": {
														"value": "@item().StageId",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"CleanUpRun": {
													"value": {
														"value": "@bool(1)",
														"type": "Expression"
													},
													"type": "Boolean"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "SupportDatabase",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "Set Last Check DateTime",
							"description": "Update the current execution table with a date time from when the function last checked the pipeline status.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Get Pipeline Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[metadata].[SetLogPipelineLastStatusCheck]",
								"storedProcedureParameters": {
									"ExecutionId": {
										"value": {
											"value": "@item().LocalExecutionId",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"PipelineId": {
										"value": {
											"value": "@item().PipelineId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"StageId": {
										"value": {
											"value": "@item().StageId",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SupportDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Get Pipeline Status",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Log Pipeline Checking",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set Subscription Id",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set Resource Group Name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "https://management.azure.com/subscriptions/@{variables('SubscriptionId')}/resourceGroups/@{variables('ResourceGroupName')}/providers/Microsoft.DataFactory/factories/@{pipeline().DataFactory}/pipelineruns/@{item().PipelineRunId}?api-version=2018-06-01\n",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": {
										"value": "https://management.core.windows.net/",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Get Framework Orchestrator Details - 01 Stage",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[metadata].[GetFrameworkOrchestratorDetails]",
									"storedProcedureParameters": {
										"CallingOrchestratorName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "GetSetMetadata",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Set Subscription Id",
							"description": "Set the subscription Id value to a local variable for use in various downstream activities.",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get Framework Orchestrator Details - 01 Stage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "SubscriptionId",
								"value": {
									"value": "@activity('Get Framework Orchestrator Details - 01 Stage').output.firstRow.SubscriptionId",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Resource Group Name",
							"description": "Set the resource group name value to a local variable for use in various downstream activities.",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get Framework Orchestrator Details - 01 Stage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "ResourceGroupName",
								"value": {
									"value": "@activity('Get Framework Orchestrator Details - 01 Stage').output.firstRow.ResourceGroupName",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set Execution Id",
				"description": "Set the local execution Id to a pipeline variable for each in several downstream activities.",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execution Wrapper",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ExecutionId",
					"value": {
						"value": "@activity('Execution Wrapper').output.firstRow.ExecutionId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Is Stage Already Running",
				"description": "Establish before anything else if the stage pipeline is already running. Batch execution aware.",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Check For Running Pipeline Utils",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"BatchName": {
							"value": "@pipeline().parameters.BatchName",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"ThisRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Check Metadata Integrity",
				"description": "Performs a series of checks on all metadata held in the framework SQLDB. This is intended to raise errors before an execution run even starts.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Is Stage Already Running",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[metadata].[CheckMetadataIntegrity]",
					"storedProcedureParameters": {
						"BatchName": {
							"value": {
								"value": "@pipeline().parameters.BatchName",
								"type": "Expression"
							},
							"type": "String"
						},
						"DebugMode": {
							"value": {
								"value": "@bool(0)",
								"type": "Expression"
							},
							"type": "Boolean"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SupportDatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"BatchName": {
				"type": "string",
				"defaultValue": "NotUsed"
			}
		},
		"variables": {
			"ExecutionId": {
				"type": "String"
			},
			"SubscriptionId": {
				"type": "String"
			},
			"ResourceGroupName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADFUniversalOrchestratorFramework"
		},
		"annotations": [
			"Stage"
		],
		"lastPublishTime": "2024-07-16T07:07:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}