adf_universal_orchestrator_framework/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get Worker Pipeline Error Details",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "https://management.azure.com/subscriptions/930d2a20-dc22-431d-bdde-4a2916d0096b/resourceGroups/adf.framework/providers/Microsoft.DataFactory/factories/ADFUniversalOrchestratorFramework/pipelineruns/15c154e6-1895-4801-8197-178bff04db72/queryActivityruns?api-version=2018-06-01",
						"type": "Expression"
					},
					"body": {
						"value": "{\n  \"lastUpdatedAfter\": \"2024-07-22T07:26:28.2767557Z\",\n  \"lastUpdatedBefore\": \"2024-07-23T07:26:28.2767743Z\",\n  \"filters\":[\n             {\"operand\":\"Status\",\"operator\":\"Equals\",\"values\": \n              [\"Failed\"]\n             },\n            ],\n  \"orderBy\":[{\"orderBy\":\"ActivityRunEnd\",\"order\":\"DESC\"}]\n  }\n  \n  }",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": {
							"value": "https://management.azure.com/",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set Error Detail Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Worker Pipeline Error Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ErrorJson",
					"value": {
						"value": "@string(json(string(activity('Get Worker Pipeline Error Details').output)).value[0])",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Error Detail Values",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Error Detail Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "jsonVariable",
					"value": {
						"value": "@{\n  concat(\n    '{ \"RunId\": \"', json(string(variables('ErrorJson'))).activityRunId, '\" }',\n    ',Errors\": [{\"ActivityRunId\":\"', json(string(variables('ErrorJson'))).activityRunId, '\" }',\n    ',{\"ActivityName\":\"', json(string(variables('ErrorJson'))).ActivityName, '\" }',\n    ',{\"ActivityType\":\"', json(string(variables('ErrorJson'))).ActivityType, '\" }',\n    ',{\"ErrorCode\":\"', json(string(variables('ErrorJson'))).error.errorCode, '\" }',\n    ',{\"ErrorType\":\"', json(string(variables('ErrorJson'))).input.source.type, '\" }',\n    ',{\"ErrorMessage\":\"', json(variables('ErrorJson')).error.message, '\" }',\n    ']'\n  )\n}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"variableToReceiveValue": {
				"type": "String"
			},
			"Variable values": {
				"type": "String"
			},
			"jsonVariable": {
				"type": "String"
			},
			"ErrorJson": {
				"type": "String"
			},
			"JSONVARIABLE1": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADFUniversalOrchestratorFramework"
		},
		"annotations": []
	}
}