adf_universal_orchestrator_framework/pipeline/pl_master_level_refinement_notebook.json
{
	"name": "pl_master_level_refinement_notebook",
	"properties": {
		"activities": [
			{
				"name": "Select CONFIG_CTRL_NOTEBOOK_DATABRICKS Info",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set Execute Pipeline Start Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureDatabricksDeltaLakeSource",
						"query": {
							"value": "select * from controller.config_ctrl_notebook_databricks where is_enable = 1 and level = @{pipeline().parameters.level};",
							"type": "Expression"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach UnifyNotebook",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Select CONFIG_CTRL_NOTEBOOK_DATABRICKS Info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Select CONFIG_CTRL_NOTEBOOK_DATABRICKS Info').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute pl_deltail_refinement",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set Execute Pl_Detail_Refinement Start Time",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_detail_refinement_notebook",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Set Execute Pl_Detail_Refinement Start Time",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "execute_pl_start_time",
								"value": {
									"value": "@formatDateTime(addHours(utcNow(),8),'yyyy-MM-dd HH:mm:ss.fff')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set Execute Pipeline Start Time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "execute_pl_start_time",
					"value": {
						"value": "@formatDateTime(addHours(utcNow(),8),'yyyy-MM-dd HH:mm:ss.fff')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pl_Detail_Blob Pipeline Log Write",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach UnifyNotebook",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_detail_execute_pipeline_log_write",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"execute_pl_start_time": {
							"value": "@variables('execute_pl_start_time')",
							"type": "Expression"
						},
						"pipeline_run_id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pipeline_name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"activity_type": "Execute pl_master_level_unify_notebook Pipeline"
					}
				}
			}
		],
		"parameters": {
			"level": {
				"type": "int"
			},
			"execute_datetime": {
				"type": "string"
			}
		},
		"variables": {
			"execute_pl_start_time": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Abbott-DataFactory/Refinement Notebook"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-28T16:08:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}