adf_universal_orchestrator_framework/pipeline/pl_uni_blob_db_cut_excelfile.json
{
	"name": "pl_uni_blob_db_cut_excelfile",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_uni_blob_excel",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "@pipeline().parameters.source_container",
							"p_filename": "@pipeline().parameters.source_filename",
							"p_sheet": "@pipeline().parameters.source_sheet"
						}
					},
					"fieldList": [],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(formatDateTime(activity('Get Metadata1').output.lastModified,'yyyy-MM-dd'),formatDateTime(addHours(utcnow(),8),'yyyy-MM-dd'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_uni_blob_excel",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "@pipeline().parameters.source_container",
										"p_filename": "@pipeline().parameters.source_filename",
										"p_sheet": "@pipeline().parameters.source_sheet"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_uni_dl_AzureSqlTable",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Universal"
		},
		"annotations": []
	}
}